
.idea/codeStyleSettings.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources.xml
.idea/dataSources/04eefa83-64f4-4180-a99d-ef7b9a804628.xml
.idea/dataSources/4c3181df-9805-4531-a267-7f748feebbc3.xml
.idea/dataSources/9f554f4c-19dd-4bba-8a3a-49c648a81c2a.xml
.idea/deployment.xml
.idea/dataSources.xml
.DS_Store
.idea/dataSources.xml
.idea/Internet Dev Class.iml
.idea/jsLibraryMappings.xml
.idea/libraries/Generated_files.xml
.idea/modules.xml
.idea/php.xml
.idea/watcherTasks.xml
.idea/webServers.xml
.idea/workspace.xml
.idea/libraries/Generated_files.xml
.idea/libraries/Generated_files.xml
.tmp/php-error.log
.idea/libraries/Generated_files.xml
Project.zip
.idea/libraries/Generated_files.xml
Project/tmp/php-error.log
Project/tmp/php-error.log
.idea/libraries/Generated_files.xml
#ignore all phpStorm .idea files
.idea/*
